body {
  margin: 0;
  border: 0;
  font-family: 'Gemunu Libre', sans-serif;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  background-color: azure;
}

.characterdisplay {
  height: 35px;
  font-size: 1.5em;
  color: white;
  font-family: inherit;
  background-color: #434444;
  margin-bottom: none;
  font-weight: 700;
  font-family: inherit;
  box-sizing: border-box;
  vertical-align: middle;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding: 1%;
}

.resultdisplay {
  height: 50px;
  background-color: #434444;
  font-size: 3em;
  font-weight: 700;
  margin-top: none;
  font-family: inherit;
  color: white;
  display: flex;
  justify-content: right;
  padding: 1%;
  align-items: center;
}
.calc-container {
  border: 7px solid rgba(47,47,47,1);
  overflow-x: hidden;
  width: 500px;
}

#display {
  overflow: hidden;
  border-bottom: 7px solid rgba(47,47,47,1);
}

button {
  width: 125px;
  height: 83px;
  color: black;
  font-weight: 700;
  font-size: 1.5em;
  margin: 1px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  box-sizing: border-box;
}

.group {
  display: flex;
}

.clear, .sign, .percent {
  background-color: dodgerblue ;
}

.operator {
  background-color: orange;
}

.zero {
  flex: 2;
}
